table{
    border-collapse:collapse ;
}
td,th{
    border: solid black;
    padding: 0 10px;
}
.box{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    overflow: hidden scroll;
}
.box2{
    border: 2px solid peru ;
    width: 400px;
    height: 200px;
}
.box3{
    width: 100px;
    height: 100px;
    border: solid purple;
}
.outer{
    background-color: aqua;
}
.inner{
    background-color:palegreen ;
    transform: rotate(30deg) scale(.5);
}
.box4{
    width: 200px;
    height: 200px;
    border: 2px solid cyan;
    background-color: darkblue;
    transition: width 5s ease 3s;
}
.box4:hover{
    width: 500px;
}
.bat{
  transition: transform 0.2s ease-in-out ;
}
.bat:hover{
    transform: rotate(-60deg);
    transform-origin: 110% 0%;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 700px;
    transition: transform 2s ease-in-out 0.2s;
}
.field:hover .ball{
    transform: translate(1000px, -200px);

}